<%= form_for @club do |f| %>
<div class="form-group">
  <fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
</div>
<div class="form-group">
  <fieldset>
  <%= f.label :manager%>
  <%= f.text_field :manager%>
</fieldset>
</div>
<div class="form-group">
  <fieldset>
  <%= f.label :homeground%>
  <%= f.text_field :homeground%>
</fieldset>
</div>
<div class="form-group">
  <fieldset>
  <%= f.label :position%>
  <%= f.text_field :position%>
</fieldset>
</div>
<div class="form-group">
  <fieldset>
  <%= f.label :image%>
  <%= f.url_field :image %>
</fieldset>
</div>

<fieldset>
  <label></label>
  <%= f.submit %>
</fieldset>
<% end %>
