<div class="clubdetails">
  <div class ="row">
	  <div class ="col-md-4" col-md-offset-4>

      <div class="badge">
        <%= image_tag(@club.image, :class => 'thumb') %>
      </div>
    </div>
      <div class ="col-md-5" col-md-offset-4>
        <h1> <%= @club.name %> </h1>
        <ul>
        <li>Manager: <%= @club.manager %></li>
        <li>Homeground: <%= @club.homeground %></li>
        </ul>
      </div>
    </div>
  </div>

<div class="block_1"></div> <hr />
<div class="verticalline"></div>

<h2>New post</h2>

<div class="messagebox">
<%= form_for(Post.new)do |f| %>
<div class="form-group" id="postbox">
  <fieldset>
  <%= f.label :message %>
  <%= f.text_field :message, :class => 'form-control' %>
</fieldset>
</div>
<div class="form-group" id="choice">
  <fieldset>
  <%= f.label :club_id %>
  <%= f.select :club_id, Club.pluck(:name, :id), :include_blank => true %>
  </fieldset>
</div>

<div class="form-group" id="choice">
  <fieldset>
  <%= f.label :user_id %>
  <%= f.select :user_id, User.pluck(:username, :id), :include_blank => true %>
  </fieldset>
</div>

<div class="subbut">
<%= f.submit "Add new post"%>
</div>
<% end %>
</div>

<h2>All <%= @club.name %> Posts</h2>
<% @club.posts.each do |cp| %>

<ul>
  <%= cp.user.username %>: <%= cp.message %>
</ul>
<% end %>

<div class="controls">
  <%= link_to 'Edit Club', edit_club_path(@club) %>
  <%= button_to 'Delete club', @club, :method => 'delete', :data => { :confirm => 'You sure?'} %>
</div>
