<div class="clubdetails">
  <div class ="row">
	  <div class ="col-md-4" col-md-offset-4>

      <div class="badge">
        <%= image_tag(@club.image, :class => 'thumb') %>
      </div>
    </div>
      <div class ="col-md-5" col-md-offset-4>
        <h1> <%= @club.name %> </h1>
        <ul>
        <li>Manager: <%= @club.manager %></li>
        <li>Homeground: <%= @club.homeground %></li>
        </ul>
      </div>
    </div>
  </div>
<div class="block_1"></div> <hr />

<h2>Posts</h2>
<% @club.posts.each do |cp| %>
<ul>
  <%= cp.user.username %>: <%= cp.message %>
</ul>
<% end %>

<div class="controls">
  <%= link_to 'Edit Club', edit_club_path(@club) %>
  <%= button_to 'Delete club', @club, :method => 'delete', :data => { :confirm => 'You sure?'} %>
</div>
