<h1> <%= @club.name %> </h1>

<ul>
<li><%= @club.manager %></li>
<li><%= @club.homeground %></li>
</ul>

<% @club.posts.each do |cp| %>
<ul>
  <%= cp.user.username %>: <%= cp.message %>
</ul>
<% end %>

<div class="controls">
  <%= link_to 'Edit Club', edit_club_path(@club) %>
  <%= button_to 'Delete club', @club, :method => 'delete', :data => { :confirm => 'You sure?'} %>
</div>
