<h1>Edit user </h1>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <fieldset>
  <%= f.label :club_id %>
  <%= f.select :club_id, Club.pluck(:name, :id), :include_blank => true %>
  </fieldset>

  <div class="form-group">
  <fieldset>
    <%= f.label :photo%>
    <%= f.url_field :photo %>
  </fieldset>
  </div>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes"%>
<% end %>
